.swal2-container {
    z-index: 999999 !important;
}

.profile-header {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-right: 20px;
}

.section-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* Container with background-image using object-fit: cover */
.product-image-container {
  position: relative;
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* Product Image with object-fit: contain */
.product-image-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: center;
}

.product-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px; 
}

.product-link {
  display: block;
  width: 100%;
  height: 155px; /* Fix the height of the image */
}

.product-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h3, .qty, .price {
  text-align: left;
  margin: 0.5rem 0;
}

.input-group {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}


.product-item img.tab-image {
  width: 100%;
  height: 100%; /* Set fixed height for image */
  object-fit: contain; /* Ensure the image doesn't stretch */
}

.product-item h3 {
  font-size: 1rem;
  margin: 10px 0;
}

/* Add this new class for disabled buttons */
.btn-disabled {
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
    opacity: 0.5; /* Optional: make it look visually disabled */
}

.modal-content {
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.modal-header {
    background-color: #f8f9fa; /* Light background for header */
    border-bottom: 1px solid #dee2e6; /* Border for header */
}

.modal-title {
    font-weight: bold; /* Bold title */
}

.modal-body {
    font-size: 16px; /* Slightly larger font size */
    color: #333; /* Darker text color */
}

.modal-footer {
    justify-content: space-between; /* Space between buttons */
}