{% extends 'base.html' %}

{% block title %}Become a Seller {% endblock %}

{% block content %}
{% if sellerRequestSubmit %}
<section class="py-5">
    <div class="container-fluid">
        <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('images/bg-leaves-img-pattern.png') no-repeat;">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-6 p-5">
                        <div class="section-header">
                            <h2 class="section-title display-4">Hang tight! Your request is being <span class="text-primary">reviewed.</span></h2>
                        </div>
                        <p>
                            Exciting things are on the way! 🎉
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="py-5">
    <div class="container-fluid">
        <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('images/bg-leaves-img-pattern.png') no-repeat;">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-6 p-5">
                        <div class="section-header">
                            <h2 class="section-title display-4">Become a E - Lance <span class="text-primary">Seller</span></h2>
                        </div>
                        <p>
                            Share the latest technology with the world through E-Lance, the premier platform for smartphone sellers! 
                            As a seller on our platform, you'll connect with tech enthusiasts eager to discover the newest and most innovative smartphones.
                            Whether you're a home-based seller or an established retailer, E-Lance provides you with the tools and support to bring your smartphones to a wider market.
                        </p>
                    </div>
                    <div class="col-md-6 p-5">
                        <form id="becomeSellerForm" method="POST">
                            <div class="md-6">
                                <label for="storeName" class="form-label">Store Name</label>
                                <input type="text" class="form-control form-control-lg" id="storeName" name="storeName" placeholder="Enter your smartphone store name">
                            </div>
                            <div class="mb-3">
                                <label for="businessDescription" class="form-label">Business Description</label>
                                <textarea class="form-control form-control-lg" id="businessDescription" name="businessDescription" rows="3" placeholder="Describe your smartphone business"></textarea>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-lg">Submit Request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


{% endblock %}

{% block script %} 
<script>
$(document).ready(function() {
	$("#becomeSellerForm").submit(function(e) {
		e.preventDefault(); 
		var data = new FormData(this);
		let path = `/seller-request`;

		$.SystemScript.executePost(path, data).done((response) => {
			console.log(response.data);
			if (response.data.status == 'success') {
                $.SystemScript.swalAlertMessage('Success!', `${response.data.message}`, 'success');
                location.reload();
			} else {
				$.SystemScript.swalAlertMessage('Oops!', `${response.data.message}`, 'error');
			}
		});
	});
	
})

</script>

{% endblock %}