{% extends 'base.html' %} {% block title %}Home {% endblock %} {% block content
	%}
	<section class="py-3">
	  <div class="container-fluid">
		<div class="row">
		  <div class="col-md-12">
			<div class="banner-blocks">
			  <div class="banner-ad large bg-info block-1">
				<div class="swiper main-swiper">
				  <div class="swiper-wrapper">
					<div class="swiper-slide">
					  <div class="row banner-content p-5">
						<div class="content-wrapper col-md-7">
						  <div class="categories my-3">Samsung</div>
						  <h3 class="display-4">Samsung GALAXY S21 ULTRA 5g</h3>
						  <p>
							Experience the power of Samsung's latest flagship smartphone, the GALAXY S21 ULTRA 5G. With its cutting-edge technology, sleek design, and impressive performance, this smartphone is a must-have for any tech enthusiast.
						  </p>
						  <a
							href="/product/view/61"
							class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3"
							>Shop Now</a>
						</div>
						<div class="img-wrapper col-md-5">
						  <img
							src="{{ url_for('static', filename='images/galaxy-s21.png') }}"
							class="img-fluid product-image"
							alt="Samsung Galaxy S21 ULTRA 5G"
							style="width: 500px; height: 500px; object-fit: contain"
						  />
						</div>
					  </div>
					</div>
	
	
				  </div>
	
				  <div class="swiper-pagination"></div>
				</div>
			  </div>
	
			  <div
				class="banner-ad bg-success-subtle block-2"
				style="
				  background: url('/static/images/brandnew.png') no-repeat;
				  background-position: right bottom;
				  background-size: 300px;
				"
			  >
				<div class="row banner-content p-5">
				  <div class="content-wrapper col-md-7">
					<div class="categories mb-3 pb-3">Flagship</div>
					<h3 class="banner-title">Top Smartphones</h3>
					<a href="/category/29" class="d-flex align-items-center nav-link"
					  >Shop Collection
					  <svg width="24" height="24">
						<use xlink:href="#arrow-right"></use></svg>
					</a>
				  </div>
				</div>
			  </div>
	
			  <div
				class="banner-ad bg-danger block-3"
				style="
				  background: url('/static/images/preowned.png') no-repeat;
				  background-position: right bottom;
				  background-size: 400px;
				"
			  >
				<div class="row banner-content p-5">
				  <div class="content-wrapper col-md-7">
					<div class="categories mb-3 pb-3">Pre-Owned</div>
					<h3 class="item-title">Best Smartphone Offers</h3>
					<a href="/category/32" class="d-flex align-items-center nav-link"
					  >Shop Collection
					  <svg width="24" height="24">
						<use xlink:href="#arrow-right"></use></svg>
					</a>
				  </div>
				</div>
			  </div>
			</div>
			<!-- / Banner Blocks -->
		  </div>
		</div>
	  </div>
	</section>
	
	
	
	<section class="py-5">
	  <div class="container-fluid">
		<div class="row">
		  <div class="col-md-12">
			<div class="bootstrap-tabs product-tabs">
			  <div
				class="tabs-header d-flex justify-content-between border-bottom my-5"
			  >
				<h3>You Might Like</h3>
			  </div>
	
			  <div
				class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
				id="product-grid"
			  >
				{% for data in prod_data %}
				<div class="col mb-4">
				  <div class="product-item">
					<a
					  href="/"
					  title="{{ data['product_name']|truncate(30) }}"
					  class="product-link"
					>
					  <img
						src="{{ data['attachment'] }}"
						alt="Image"
						class="tab-image"
					  />
					</a>
					<h3>{{ data['product_name']|truncate(30) }}</h3>
					{% if auth_user['role_id'] == 1 %}
					<span class="qty">Quantity: {{ data['qty'] }}</span>
					{% endif %}
					<span class="price">Php: {{ data['formatted_price'] }}</span>
					<div class="d-flex align-items-center justify-content-center">
					  <a
						href="/product/view/{{ data['product_id'] }}"
						class="nav-link btn btn-outline-primary rounded-pill px-4"
						style="
						  transition: all 0.3s ease;
						  border: 2px solid var(--accent-color);
						"
						onmouseover="this.style.backgroundColor='var(--accent-color)'; this.style.color='white'"
						onmouseout="this.style.backgroundColor='transparent'; this.style.color='var(--accent-color)'"
						>View Product
						<iconify-icon icon="uil:eye" class="ms-1"></iconify-icon
					  ></a>
					</div>
				  </div>
				</div>
				{% endfor %}
			  </div>
	
			  <!-- Load More Button -->
			  <div class="text-center mt-4">
				<button
				  id="load-more"
				  class="btn btn-custom"
				  data-page="{{ page }}"
				>
				  Load More
				</button>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	
	<section class="py-5">
	  <div class="container-fluid">
		<div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5">
		  <div class="col">
			<div class="card mb-3 border-0">
			  <div class="row">
				<div class="col-md-2 text-dark">
				  <svg
					xmlns="http://www.w3.org/2000/svg"
					width="32"
					height="32"
					viewBox="0 0 24 24"
				  >
					<path
					  fill="currentColor"
					  d="M21.5 15a3 3 0 0 0-1.9-2.78l1.87-7a1 1 0 0 0-.18-.87A1 1 0 0 0 20.5 4H6.8l-.33-1.26A1 1 0 0 0 5.5 2h-2v2h1.23l2.48 9.26a1 1 0 0 0 1 .74H18.5a1 1 0 0 1 0 2h-13a1 1 0 0 0 0 2h1.18a3 3 0 1 0 5.64 0h2.36a3 3 0 1 0 5.82 1a2.94 2.94 0 0 0-.4-1.47A3 3 0 0 0 21.5 15Zm-3.91-3H9L7.34 6H19.2ZM9.5 20a1 1 0 1 1 1-1a1 1 0 0 1-1 1Zm8 0a1 1 0 1 1 1-1a1 1 0 0 1-1 1Z"
					/>
				  </svg>
				</div>
				<div class="col-md-10">
				  <div class="card-body p-0">
					<h5>Nationwide Smartphone Delivery</h5>
					<p class="card-text">
					  Get your desired smartphones delivered anywhere in the Philippines.
					</p>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col">
			<div class="card mb-3 border-0">
			  <div class="row">
				<div class="col-md-2 text-dark">
				  <svg
					xmlns="http://www.w3.org/2000/svg"
					width="32"
					height="32"
					viewBox="0 0 24 24"
				  >
					<path
					  fill="currentColor"
					  d="M19.63 3.65a1 1 0 0 0-.84-.2a8 8 0 0 1-6.22-1.27a1 1 0 0 0-1.14 0a8 8 0 0 1-6.22 1.27a1 1 0 0 0-.84.2a1 1 0 0 0-.37.78v7.45a9 9 0 0 0 3.77 7.33l3.65 2.6a1 1 0 0 0 1.16 0l3.65-2.6A9 9 0 0 0 20 11.88V4.43a1 1 0 0 0-.37-.78ZM18 11.88a7 7 0 0 1-2.93 5.7L12 19.77l-3.07-2.19A7 7 0 0 1 6 11.88v-6.3a10 10 0 0 0 6-1.39a10 10 0 0 0 6 1.39Zm-4.46-2.29l-2.69 2.7l-.89-.9a1 1 0 0 0-1.42 1.42l1.6 1.6a1 1 0 0 0 1.42 0L15 11a1 1 0 0 0-1.42-1.42Z"
					/>
				  </svg>
				</div>
				<div class="col-md-10">
				  <div class="card-body p-0">
					<h5>Secure Payment</h5>
					<p class="card-text">
					  Shop with confidence using our secure payment methods for your phone purchases.
					</p>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col">
			<div class="card mb-3 border-0">
			  <div class="row">
				<div class="col-md-2 text-dark">
				  <svg
					xmlns="http://www.w3.org/2000/svg"
					width="32"
					height="32"
					viewBox="0 0 24 24"
				  >
					<path
					  fill="currentColor"
					  d="M19.63 3.65a1 1 0 0 0-.84-.2a8 8 0 0 1-6.22-1.27a1 1 0 0 0-1.14 0a8 8 0 0 1-6.22 1.27a1 1 0 0 0-.84.2a1 1 0 0 0-.37.78v7.45a9 9 0 0 0 3.77 7.33l3.65 2.6a1 1 0 0 0 1.16 0l3.65-2.6A9 9 0 0 0 20 11.88V4.43a1 1 0 0 0-.37-.78ZM18 11.88a7 7 0 0 1-2.93 5.7L12 19.77l-3.07-2.19A7 7 0 0 1 6 11.88v-6.3a10 10 0 0 0 6-1.39a10 10 0 0 0 6 1.39Zm-4.46-2.29l-2.69 2.7l-.89-.9a1 1 0 0 0-1.42 1.42l1.6 1.6a1 1 0 0 0 1.42 0L15 11a1 1 0 0 0-1.42-1.42Z"
					/>
				  </svg>
				</div>
				<div class="col-md-10">
				  <div class="card-body p-0">
					<h5>Authentic Phones</h5>
					<p class="card-text">
					  Genuine phones sourced directly from trusted manufacturers.
					</p>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col">
				<div class="card mb-3 border-0">
				  <div class="row">
					<div class="col-md-2 text-dark">
					  <svg
						xmlns="http://www.w3.org/2000/svg"
						width="32"
						height="32"
						viewBox="0 0 24 24"
					  >
						<path
						  fill="currentColor"
						  d="M22 5H2a1 1 0 0 0-1 1v4a3 3 0 0 0 2 2.82V22a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-9.18A3 3 0 0 0 23 10V6a1 1 0 0 0-1-1Zm-7 2h2v3a1 1 0 0 1-2 0Zm-4 0h2v3a1 1 0 0 1-2 0ZM7 7h2v3a1 1 0 0 1-2 0Zm-3 4a1 1 0 0 1-1-1V7h2v3a1 1 0 0 1-1 1Zm10 10h-4v-2a2 2 0 0 1 4 0Zm5 0h-3v-2a4 4 0 0 0-8 0v2H5v-8.18a3.17 3.17 0 0 0 1-.6a3 3 0 0 0 4 0a3 3 0 0 0 4 0a3 3 0 0 0 4 0a3.17 3.17 0 0 0 1 .6Zm2-11a1 1 0 0 1-2 0V7h2ZM4.3 3H20a1 1 0 0 0 0-2H4.3a1 1 0 0 0 0 2Z"
						/>
					  </svg>
					</div>
					<div class="col-md-10">
					  <div class="card-body p-0">
						<h5>Bulk Discounts</h5>
						<p class="card-text">
						  Get special prices when buying phones in bulk.
						</p>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="col">
				<div class="card mb-3 border-0">
				  <div class="row">
					<div class="col-md-2 text-dark">
					  <svg
						xmlns="http://www.w3.org/2000/svg"
						width="32"
						height="32"
						viewBox="0 0 24 24"
					  >
						<path
						  fill="currentColor"
						  d="M12 8.35a3.07 3.07 0 0 0-3.54.53a3 3 0 0 0 0 4.24L11.29 16a1 1 0 0 0 1.42 0l2.83-2.83a3 3 0 0 0 0-4.24A3.07 3.07 0 0 0 12 8.35Zm2.12 3.36L12 13.83l-2.12-2.12a1 1 0 0 1 0-1.42a1 1 0 0 1 1.41 0a1 1 0 0 0 1.42 0a1 1 0 0 1 1.41 0a1 1 0 0 1 0 1.42ZM12 2A10 10 0 0 0 2 12a9.89 9.89 0 0 0 2.26 6.33l-2 2a1 1 0 0 0-.21 1.09A1 1 0 0 0 3 22h9a10 10 0 0 0 0-20Zm0 18H5.41l.93-.93a1 1 0 0 0 0-1.41A8 8 0 1 1 12 20Z"
						/>
					  </svg>
					</div>
					<div class="col-md-10">
					  <div class="card-body p-0">
						<h5>Weekly Promos</h5>
						<p class="card-text">
						  Check our weekly deals on your favorite phones and accessories.
						</p>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	
	{% endblock %} {% block script %}
	<script>
	  $(document).ready(function () {
		// Shuffle functions
		function shuffleProducts() {
		  var activeTab = $(".tab-pane.show.active");
		  var productGrid = activeTab.find(".product-grid");
		  var items = productGrid.children(".col").get();
	
		  items.sort(function () {
			return 0.5 - Math.random();
		  });
		  productGrid.empty().append(items);
		}
	
		shuffleProducts();
		$('a[data-bs-toggle="pill"]').on("shown.bs.tab", function () {
		  shuffleProducts();
		});
	
		var loadedProductIds = [];
		var page = 1;
	
		function shuffleProductCards() {
		  var productGrid = $("#product-grid");
		  var items = productGrid.children(".col").get();

		  items.sort(function () {
			return 0.5 - Math.random();
		  });
		  productGrid.empty().append(items);
		}

		// Call shuffle function after products are loaded
		$("#load-more").on("click", function () {
		  page += 1;
		  loadMoreProducts(page);
		  shuffleProductCards(); // Shuffle after loading more products
		});

		// Shuffle initially
		shuffleProductCards();

		function loadMoreProducts(page) {
		  var url = "/load_more_products?page=" + page;
		  $.get(url, { loaded_product_ids: loadedProductIds }, function (response) {
			if (response.status === "success" && response.data.length > 0) {
			  var productGrid = $("#product-grid");
			  $.each(response.data, function (index, product) {
				if (!loadedProductIds.includes(product.product_id)) {
				  var truncatedProductName = truncateString(
					product.product_name,
					30
				  );
				  var productHtml = `
								<div class="col mb-4" data-id="${product.product_id}">
									<div class="product-item">
										<span class="badge bg-success position-absolute m-3">-30%</span>
										<a href="/" title="${truncatedProductName}" class="product-link">
											<img src="${product.attachment}" alt="Image" class="tab-image">
										</a>
										<h3>${truncatedProductName}</h3>
										<span class="qty">Quantity: ${product.qty}</span>
										<span class="price">Php: ${product.formatted_price}</span>
										<div class="d-flex align-items-center justify-content-between">
											<div class="input-group product-qty">
												<span class="input-group-btn">
													<button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" aria-label="Decrease quantity">
														<svg width="16" height="16"><use xlink:href="#minus"></use></svg>
													</button>
												</span>
												<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
												<span class="input-group-btn">
													<button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" aria-label="Increase quantity">
														<svg width="16" height="16"><use xlink:href="#plus"></use></svg>
													</button>
												</span>
											</div>
											<a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
										</div>
									</div>
								</div>`;
				  productGrid.append(productHtml);
				  loadedProductIds.push(product.product_id);
				}
			  });
			} else {
			  $("#load-more").hide();
			}
		  });
		}
		function truncateString(str, length) {
		  return str.length > length ? str.substring(0, length) + "..." : str;
		}

		
	  });
	</script>
	{% endblock %}