{% extends 'base.html' %}

{% block title %}Sign Up {% endblock %}

{% block content %}
<section class="py-5">
	<div class="container-fluid">

	  <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('images/bg-leaves-img-pattern.png') no-repeat;">
		<div class="container my-5">
		  <div class="row">
			<div class="col-md-6 p-5">
			  <div class="section-header">
				<h2 class="section-title display-4">Sign <span class="text-primary">Up</span></h2>
			  </div>
			  <p>Join E - Lance today! Create your account to start shopping, track orders, and enjoy exclusive deals. Sign up now for a seamless and secure shopping experience.</p>
			</div>
			<div class="col-md-6 p-5">
			  <form  id="signupForm">
					<div class="row mb-3">
						<div class="col">
							<label for="" class="form-label">First Name</label>
							<input type="text" class="form-control form-control-lg" name="fname" id="fname" placeholder="First name" >
						</div>
							<div class="col">
							<label for="" class="form-label">Last name</label>
							<input type="text" class="form-control form-control-lg" name="lname" id="lname" placeholder="Last name">
						</div>
					</div>
                    <div class="mb-3">
                        <label for="" class="form-label">Email</label>
                        <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="Enter your email">
                    </div>
					<div class="mb-3">
                        <label for="" class="form-label">Phone Number</label>
                        <input type="text" class="form-control form-control-lg" name="phone" id="phone" placeholder="Enter your number">
                    </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Password</label>
                      <input type="password"
                        class="form-control form-control-lg" name="password" id="password" placeholder="Enter password">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Confirm Password</label>
                        <input type="password"
                          class="form-control form-control-lg" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
                      </div>
				<div class="d-grid gap-2">
				  <button type="submit" class="btn btn-dark btn-lg">Sign Up</button>
				</div>
                <p>Already Have an Account?<a href="/login">Login</a></p>
			  </form>
			  
			</div>
			
		  </div>
		  
		</div>
	  </div>
	  
	</div>
  </section>

{% endblock %}


{% block script %} 
<script>
$(document).ready(function() {
	$("#signupForm").submit(function(e) {
		e.preventDefault(); // Prevent form from reloading the page

		var password = $('#password').val();
        var confirmPassword = $('#confirmPassword').val();

        // Client-side validation for password matching
        if (password !== confirmPassword) {
            swal('Oops!', 'Passwords do not match. Please try again.', 'error');
            return;
		}

		var data = new FormData(this);
		let path = `/signup`;

		$.SystemScript.executePost(path, data).done((response) => {
			console.log(response.data);
			if (response.data.status == 'success') {
				$.SystemScript.swalAlertMessage('Successfully', `${response.data.message}`, 'success');
				let role = response.data.data.role_id;
				$('.swal2-confirm').click(function(){
				window.location.href = '/login'; 
                });
			} else {
				$.SystemScript.swalAlertMessage('Oops!', `${response.data.message}`, 'error');
			}
		});
	});
	
})

</script>

{% endblock %}