{% extends 'base.html' %}

{% block title %}Product View{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ product_image_url }}" alt="{{ product_name }}" class="img-fluid" style="width: 500px; height: 500px; object-fit: contain;">
            </div>
            <div class="col-md-6">
                <h1>{{ product_name }}</h1>
                <p>{{ product_description }}</p>

                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-danger quantity-left-minus" data-type="minus">-</button>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <button type="button" class="btn btn-success quantity-right-plus" data-type="plus">+</button>
                    </div>
                </div>

                <h3 class="price">Php: {{ product_price }}</h3>

                <button class="btn btn-primary btn-lg">Add to Cart</button>
                <a href="/product/view/{{ product_id }}" class="nav-link">View Product Details <iconify-icon icon="uil:eye"></iconify-icon></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('.quantity-left-minus').click(function() {
                var quantity = parseInt($('#quantity').val());
                if (quantity > 1) {
                    $('#quantity').val(quantity - 1);
                }
            });

            $('.quantity-right-plus').click(function() {
                var quantity = parseInt($('#quantity').val());
                $('#quantity').val(quantity + 1);
            });
        });
    </script>
{% endblock %}
