{% extends 'dashboard-base.html' %}

{% block title %}Product {% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Layout -->
    {% if auth_user['role_id'] == 3 %}
    <div class="row">
      <div class="col-xl">
        <div class="card mb-6">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Product Management</h3>
          </div>
          <div class="card-body">
            <form id="add-product">
              <h4 class="h4 mb-3">Add Product</h4>
                <div class="row mb-6">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="productName" class="form-label">Product Name</label>
                      <input type="text" class="form-control" id="productName" name="productName">
                  </div>
                  </div>
                  <div class="col-md-6">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" id="category_menu" name="category_menu" >
                      <option value="">Select a category</option>
                      {% for data in cat_data %}
                      <option value="{{ data['category_id'] }}">{{ data['category_name'] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="mb-6">
                    <label for="description" class="form-label">Description</label>
                    <div id="editor" style="height: 200px;"></div>
                </div>
                <div class="row mb-6">
                    <div class="col-md-6">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class='bx bx-wallet'></i></span>
                            <input type="text" class="form-control" id="price" pattern="^\d+(\.\d{1,2})?$" placeholder="0.00" name="price" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="text" class="form-control" id="quantity" pattern="^\d+$" placeholder="0" name="quantity" >
                    </div>
                </div>
                <div class="mb-6">
                    <label for="prod-image" class="form-label">Product Image</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class='bx bx-image-add'></i></span>
                        <input type="file" class="form-control" id="productImage" name="productImages[]" accept="image/*" multiple>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class='bx bx-plus-circle'></i>Add Product</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="card">
      <h5 class="card-header">Products</h5>
      <div class="table-responsive text-nowrap p-5">
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              {% if auth_user['role_id'] == 1 %}
                <th>Users</th>
              {% endif %}
              <th>Product Name </th>
              <th>Categories</th>
              <th>Price</th>
              <th>Quantity</th>
              {% if auth_user['role_id'] == 1 %}
                <th>Status</th>
              {% endif %}
              <th data-order="created_at">Date Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0 ">
            {% for data in prod_data %}
            <tr>
              {% if auth_user['role_id'] == 1 %}
                <td>
                  <span class="text-capitalize">{{ data['firstname']}} {{ data['lastname']}}</span>
                </td>
              {% endif %}
              <td> <span class="fw-bold">{{ data['product_name'] }}</span></td>
              <td><span class="text-capitalize">{{ data['category_name']}}</span></td>
              <td><span class="text-capitalize">PHP {{ data['price'] }}</span></td> <!--for price-->
              <td><span class="text-capitalize">{{ data['qty'] }}</span></td> <!--for quantity-->
              {% if auth_user['role_id'] == 1 %}
                <td>
                  {% if data['status'] == 2 %}
                    <span class="badge bg-label-danger me-1">Archived</span>
                  {% else %}
                    <span class="badge bg-label-success me-1">Active</span>
                  {% endif %}
                </td>
              {% endif %}
              <td><span class=" createdAt">{{ data['created_at'] }}</span></td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    {% if auth_user['role_id'] == 3 %}
                    <a class="dropdown-item edit-product" 
                      data-id="{{ data['product_id'] }}" 
                      data-product-name="{{ data['product_name'] }}" 
                      category="{{ data['category_id'] }}"
                      description="{{ data['description'] }}"
                      price="{{ data['price'] }}"
                      quantity="{{ data['qty'] }}"
                      onclick="openEditModal(this)">
                      <i class="bx bx-edit me-1"></i>Edit
                    </a>
                    {% endif %}
                    <a class="dropdown-item view-product" 
                      data-id="{{ data['product_id'] }}" 
                      data-product-name="{{ data['product_name'] }}" 
                      onclick="openViewModal(this)">
                      <i class="bx bx-show me-1"></i>View
                    </a>
                    {% if data['status'] == 1 %}
                    <a class="dropdown-item change-status" data-status-to="2" data-id="{{ data['product_id'] }}" href="javascript:void(0);">
                      <i class="bx bx-trash me-1"></i> Archive
                    </a>
                    {% else %}
                    <a class="dropdown-item change-status" data-status-to="1" data-id="{{ data['product_id'] }}" href="javascript:void(0);">
                      <i class="bx bx-folder-plus me-1"></i> Retrive
                    </a>
                    {% endif %}
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Update Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update-product">
                        <div class="mb-6">
                            <label class="form-label" for="update_product_name">Product Name</label>
                            <input type="text" class="form-control" id="update_product_name" name="prodname" placeholder="Enter product name" required />
                        </div>
                        <div class="mb-3">
                            <label for="update_category" class="form-label">Category</label>
                            <select class="form-select" id="update_category" name="category_id" required>
                              {% for data in cat_data %}
                              <option value="{{ data['category_id'] }}">{{ data['category_name'] }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="mb-6">
                          <label for="description" class="form-label">Description</label>
                          <div id="editor1" style="height: 200px;"></div>
                      </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="update_price" class="form-label">Price</label>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control" id="update_price" name="price" pattern="^\d+(\.\d{1,2})?$" placeholder="0.00" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="update_quantity" class="form-label">Quantity</label>
                                <input type="text" class="form-control" id="update_quantity" name="quantity" pattern="^\d+$" placeholder="0" required>
                            </div>
                        </div>
                        <input type="hidden" id="update_product_id" name="product_id">
                        <button type="submit" class="btn btn-primary mb-3"><i class='bx bx-save'></i> Save Changes</button>
                    </form>
                    <p id="edit-error-message" class="text-danger d-none"></p> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
  const quill = new Quill('#editor', {
      theme: 'snow'
  });
  const quill2 = new Quill('#editor1', {
      theme: 'snow'
  });

  function openEditModal(element){
     // Get data from the clicked element
    var productId = $(element).attr("data-id"); 
    var productName = $(element).attr("data-product-name");
    var category = $(element).attr("category")
    var description = $(element).attr("description")
    var price = $(element).attr("price")
    var quantity = $(element).attr("quantity")
    // $("input[name='prodname']").val(productName);

    // Set the values in the modal
    $('#update_product_name').val(productName);
    $('#update_product_id').val(productId);
    $('#update_category').val(category);
    $('#editor1').val(description);
    $('#update_price').val(price)
    $('#update_quantity').val(quantity)
    quill2.root.innerHTML = description; 

    $('#editModal').modal('show'); 
  }
    
  $(document).ready(function(){
    $("#add-product").submit(function(e){
      e.preventDefault();

      let url = '/add-product';
      var data = new FormData(this);

      // Get the content from the Quill editor
      var quillContent = quill.root.innerHTML;
      // Append the Quill editor content to the FormData object
      data.append('description', quillContent); 

      $.SystemScript.executePost(url, data).done((response) => {
        console.log(response.data);
        if (response.data.status == 'success') {
          $.SystemScript.swalAlertMessage('Successfully', `${response.data.message}`, 'success');
          $('.swal2-confirm').click(function(){ 
              location.reload();
          });
        } else {
          $.SystemScript.swalAlertMessage('Oops!', `${response.data.message}`, 'error');
        }

      });
    });

    $(".change-status").click(function(e) {
      var id = $(this).attr("data-id");
      var status_to = $(this).attr("data-status-to");
      var message = status_to == "2" ? 
                  'Do you want to delete this product?' : 'Do you want to retrieve this product?'
        $.SystemScript.swalConfirmMessage('Are you sure', 
          message, 'question').done(function(response) {
            if(response) {
                let url = `/change-product-status?prod_id=${id}&status_to=${status_to}`;
                $.SystemScript.executeGet(url).done((response) => {
                    console.log(response.data);
                    if (response.data.status == 'success') {
                        $.SystemScript.swalAlertMessage('Successfully', `${response.data.message}`, 'success');
                        $('.swal2-confirm').click(function(){
                            location.reload();
                        });
                    } else {
                        $.SystemScript.swalAlertMessage('Error', `${response.data.message}`, 'error');
                    }
                });
            }
        });
    });

    $("#update-product").submit(function(e){
      e.preventDefault();
      
      var data = new FormData(this);
      let url = '/update-product';
      // Get the content from the Quill editor
      var quillContent = quill2.root.innerHTML;
      // Append the Quill editor content to the FormData object
      data.append('description', quillContent);
      $.SystemScript.executePost(url, data).done((response) => {
        console.log(response.data);
        if (response.data.status == 'success') {
          $.SystemScript.swalAlertMessage('Successfully', `${response.data.message}`, 'success');
          $('.swal2-confirm').click(function(){ 
              location.reload();
          });
        } else {
          $.SystemScript.swalAlertMessage('Oops!', `${response.data.message}`, 'error');
        }

      });
    });

  })
</script>
{% endblock %}

